*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1d2b3a;
    gap: 20px;
}

a{
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}